<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Dans le FIRS TWIG</title>
        
    </head>
    <body>
    	<h1>Itinéraires localisés (i18n)</h1>
       Vous ête dans la page company doc off routage page 28 
       <h2>Description</h2>
       <p>Si votre application est traduite en plusieurs langues, chaque itinéraire peut définir une URL différente pour chaque langue de traduction . Cela évite d'avoir à dupliquer les routes, ce qui réduit également les bugs potentiels:</p>
 
    </body>
</html>
