<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Dans le FIRS TWIG</title>
        
    </head>
    <body>
    	<h1>welcome dans le first twig</h1>
       Vous ête dans la page local aved un {{i}} aléatoire
    </body>
</html>
