<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Dans le FIRS TWIG</title>
        
    </head>
    <body>
    	<h1>welcome dans le first twig</h1>
       Vous ête dans la page menu qui est la page par défaut de notre application 
<p>Les routes sont</p>
<ul>
	<li>Route par _route </li>
	<li>Route par _route_params :</li>
</ul>
       on a 
    </body>
</html>
