<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Dans le FIRS TWIG</title>
        
    </head>
    <body>
    	<h1>welcome dans le first twig</h1>
       Vous ête dans la page show aved un  aléatoire , 
<p>Les routes sont</p>
<ul>
	<li>Route par _route : {{route}}</li>
	<li>Obtention du var du SERVEUR par :$req->server->get(SERVER) : {{http}}</li>
  <li>Obtention du var GET et POST  par req->request->get("page"): {{page}}</li>
</ul>
       on a 
    </body>
</html>
