<!-- Modal confirmation suppression d'un document -->
<div id="modalbase/base-bo.html.twigConfirmDelete" class="modal-block modal-block-md mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Message</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-text">
                    <p>Voulez-vous supprimer ce document?</p>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
                <div class="row">
                    <div class="col-md-12 text-right">
                            <button class="btn btn-primary btn-modal-confirm-action modal-dismiss">Ok</button>
                            <button class="btn btn-default modal-dismiss">Annuler</button>
                    </div>
                </div>
        </footer>
    </section>
</div>

<!-- Modal confirmation suppression d'utilisateur -->
<div id="modalFileConfirmDelete" class="modal-block modal-block-md mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Message</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-text">
                    <p>Voulez-vous supprimer ce fichier ?</p>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
                <div class="row">
                    <div class="col-md-12 text-right">
                            <button class="btn btn-primary btn-modal-confirm-action modal-dismiss">Ok</button>
                            <button class="btn btn-default modal-dismiss">Annuler</button>
                    </div>
                </div>
        </footer>
    </section>
</div>