<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>First templates avec SF 3.4.40</title>
       
    </head>
    <body>
    	<h1>Ceci est mon premier templates via symfony 4.4.80 </h1>
        <h2> REQUETTE - REPONSE</h2>
        <h3> Test avec render</h3>
        <p> On est dans la page dont page =  </p>
        
            <ul> 
            	<li> React JS</li>
            </ul>
        <h3>Il est ici</h3>
       

    </body>
</html>
